h1 {color:blueviolet;    font-size:50px;    text-align:center;  font-family: "Playfair Display", serif;     font-optical-sizing: auto;      font-weight: 400;      font-style: normal; }

h2 {color:aqua;    font-size:50px;    text-align:center;  font-family: "Playfair Display", serif;     font-optical-sizing: auto;      font-weight: 400;      font-style: normal; }

p {color:brown;    font:arial;text-align:center;     font-size:20px; font-family: "Playfair Display", serif;  font-optical-sizing: auto;  font-weight: 400;   font-style: normal;}

body {display:flex; flex-direction: column; }

.myFavouriteText {font:small;   color:  crimson;}

.image {max-height: 50%; width: 100%}

.Card {height:400px;width:300px;border-color:blue; background-color: brown; text-align: center; border-radius:50px; overflow:hidden;margin:10px}

*{box-sizing: border-box;justify-content: center; margin:auto ;margin-right:auto; margin-left:auto; text-align: center;}

.example {width:300px; padding:20px; border:2px solid; margin:30px; background-color:coral}

.background {height: auto; width:auto; background-color:rgba(116, 99, 99, 0.15); display:flex;flex-direction:row; }

.button {height:40px; width:100px; border-color:green solid; background-color: greenyellow; border-radius:15px;text-align:center; font-size:30px; margin-left:auto; margin-right: auto;}